# Access Control
<Limit DELETE GET POST PUT OPTIONS>
	Allow from all
</Limit>

# Start rewrite engine
RewriteEngine On

# Default entry
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
